# Ignore environment variables
.env
.env.dist

# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/

# Ignore macOS specific files
.DS_Store

# Ignore swap files
*.swp

# Ignore recordings
recordings/
test_recording.wav
